[Unit]
Description=AUTOINFORM-GENERATOR-MSK
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/led-panel-server.pid
User=autoinform
Group=autoinform
#WorkingDirectory=/var/lib/autoinform
Environment=SERVER_ADDRESS=192.168.0.17
Environment=SERVER_PORT=3333
Environment=PANEL_ADDRESS=0
Environment=KEEP_ALIVE=30000
Environment=MQTT_HOST=192.168.88.126
Environment=MQTT_PORT=1883
Environment=MQTT_KEEP_ALIVE=60
Environment=TASK_TOPIC=TASK/
Environment=TASK_TOPIC_POSTFIX=ROUTE_INFO
Environment=WEATHER_TOPIC=WEATHER
Environment=EMERGENCY_TOPIC=EMERGENCY
Environment=DIAGNOSTIC_TOPIC=DIAGNOSTIC
Environment=SHOW_TEMPERATURE_DELAY=7000
Environment=MQTTPORT=1883
ExecStart=/usr/bin/led-panel-server

[Install]
WantedBy=multi-user.target

