[Unit]

Description=LED_PANEL_SERVER
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/led-panel-server.pid
User=evgen
Group=evgen
WorkingDirectory=/var/lib/ledserver
Environment=SERVER_ADDRESS=192.168.90.111
Environment=SERVER_PORT=3333
Environment=PANEL_ADDRESS=0
Environment=KEEP_ALIVE=120000
Environment=MQTT_HOST=192.168.90.111
Environment=MQTT_PORT=1883
Environment=MQTT_KEEP_ALIVE=60
Environment=TASK_TOPIC=ledserver/TASK/
Environment=TASK_TOPIC_POSTFIX=ROUTE_INFO
Environment=CURRENT_TABLE_INFO_TOPIC=ledserver/currentInfo/
Environment=WEATHER_TOPIC=ledserver/WEATHER
Environment=EMERGENCY_TOPIC=ledserver/EMERGENCY/
Environment=DIAGNOSTIC_TOPIC=ledserver/DIAGNOSTIC/LED/
Environment=SHOW_TEMPERATURE_DELAY=7000
Environment=MQTTPORT=1883
Environment=IMAGES_PATH=/var/lib/ledserver/
Environment=LOGO_IMAGE_NAME=TT_logo.png
ExecStart=/usr/bin/led-panel-server
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
